<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electricity Schedule</title>
    <style>
        table {
            /*width: 100%;*/
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #000;
            text-align: center;
            padding: 5px;
        }

        .G {
            background-color: #92D050;
        }

        .R {
            background-color: lightpink;
        }

        .Y {
            background-color: lightyellow;
        }

        body {
            font-family: "Arial Narrow";
        }

        .hour {
            background-color: #E8E8E8;
            padding: 1px;
            border-left: 2px solid black;
            border-right: 2px solid black;

        }

        .even {
            border-left: 2px solid black;
        }

        .odd {
            border-right: 2px solid black;
        }

        .subtable {
            display: inline-block;

            .subtable-row {
                background-color: #ffe5ea;

                &.available {
                    background-color: #cee5b2;
                }

                span {
                    display: inline-block;

                    &:nth-child(1) {
                        width: 80px;
                    }

                    &:nth-child(2) {
                        width: 60px;
                    }

                    &:nth-child(3) {
                        width: 80px;
                    }
                }
            }
        }

        table.spirale td {
            border: none;
        }

        .telegram-table .hour {
            font-size: 32px;
        }
        .spirale {
            background-color: white;
        }
    </style>
</head>
<body>
<script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3.4.27/dist/vue.esm-browser.prod.js"
      }
    }
</script>
<div id="app">
    <div class="form-container">
       <input type="date" @change="makeSchedule" v-model="date">
       <a v-if="!tomorrow"  style="margin-left: 1em;" href="?tomorrow">Завтра</a>
       <a v-if="tomorrow"  style="margin-left: 1em;" :href="pathname">Сьогодні</a>
       <a style="margin-left: 1em; color:darkgrey;" href="https://www.poe.pl.ua/disconnection/power-outages/">Дані з полтаваоблнерго</a>

    </div>

    <div v-if="schedule">
        <h1>Точно як у Полтаваобленерго <button style="vertical-align: middle;" @click="myCopy('#spirale', $event)">Копіювати</button></h1>
        <table class="spirale" id="spirale">
            <tr v-for="groupIndex in Math.ceil(schedule.length / 3)" :key="groupIndex">
                <td v-for="(row, index) in schedule.slice((groupIndex - 1) * 3, groupIndex * 3)" :key="index" @click="copySpirale">
                    <svg :id="'spirale-3-'+((groupIndex - 1) * 3 + index)" width="450" height="450"/>
                </td>
            </tr>
        </table>

<!--        <h1>Жовтий замінено на червоний <button style="vertical-align: middle;" @click="myCopy('#spirale-no-hh', $event)">Копіювати</button></h1>-->
<!--        <table class="spirale" id="spirale-no-hh">-->
<!--            <tr v-for="groupIndex in Math.ceil(schedule.length / 3)" :key="groupIndex">-->
<!--                <td v-for="(row, index) in schedule.slice((groupIndex - 1) * 3, groupIndex * 3)" :key="index" @click="copySpirale">-->
<!--                    <svg :id="'spirale-optimistic-2-'+((groupIndex - 1) * 3 + index)" width="450" height="450"/>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->

        <h1>Графік <button style="vertical-align: middle;" @click="myCopy('#table-1', $event)">Копіювати</button></h1>
        <table id="table-1">
            <thead>
            <tr>
                <th rowspan="3">Номер черги</th>
                <!--        <th colspan="2">Електроенергія наявна</th>-->
                <th colspan="49">Години доби</th>
            </tr>
            <tr>
                <!--        <th rowspan="2">при запланованому графіку відключень</th>-->
                <!--        <th rowspan="2">при вимушеному збільшенні тривалості відключення</th>-->
                <th class="hour">з</th>
                <th class="hour" colspan="2" v-for="hour in 24">{{ padZero(hour - 1) }}:00</th>
            </tr>
            <tr>
                <th class="hour">по</th>
                <th class="hour" colspan="2" v-for="hour in 24">{{ padZero(hour % 24) }}:00</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(row, index) in schedule" :key="index">
                <td colspan="2">{{ scheduleNames[index] }}</td>
                <!--        <td>{{ row.planned }}</td>-->
                <!--        <td>{{ row.forced }}</td>-->
                <td v-for="(char, idx) in row.replaceAll('1', 'G').replaceAll('0', 'R').split('')" :key="idx"
                    :class="[char, {'even':idx % 2 == 0, 'odd':  idx % 2 == 1}]"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <h1>Компактний графік <button style="vertical-align: middle;" @click="myCopy('#table-2', $event)">Копіювати</button></h1>
        <table class="telegram-table" id="table-2">
            <thead>
            <tr>
                <th rowspan="3" style="writing-mode: vertical-rl; transform: rotate(180deg);">Черга</th>
                <th colspan="48">Години доби</th>
            </tr>
            <tr>
                <th class="hour" colspan="2" v-for="hour in 24">{{ padZero(hour - 1) }}</th>
            </tr>
            <tr>
                <th class="hour" colspan="2" v-for="hour in 24">{{ padZero(hour % 24) }}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(row, index) in schedule" :key="index">
                <td class="hour">{{ (scheduleNames[index] || '').replace('черга', '') }}</td>
                <td v-for="(char, idx) in row.replaceAll('1', 'G').replaceAll('0', 'R').split('')" :key="idx"
                    :class="[char, idx % 2 === 0 ? 'even' : 'odd']"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div v-if="schedule">
        <h1>Текстовий звіт <button style="vertical-align: middle;" @click="copyTextReport">Копіювати</button></h1>
        <pre id="text-report" style="white-space: pre-wrap; background-color: #f0f0f0; padding: 1em;">{{ textReport }}</pre>
    </div>

    <textarea id="copy-helper" style="position: absolute; left: -9999px;"></textarea>

</div>

<canvas id="canvas" style="display:none;"></canvas>


<script>
    async function convertSvgToPngAndCopy(svgElement) {
        const svgData = new XMLSerializer().serializeToString(svgElement);
        const svgBlob = new Blob([svgData], {type: 'image/svg+xml;charset=utf-8'});
        const url = URL.createObjectURL(svgBlob);

        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');

        // Create an image element to load the SVG data
        const img = new Image();
        img.onload = async function () {
            canvas.width = img.width;
            canvas.height = img.height;
            ctx.fillStyle = 'white';
            ctx.fillRect(0, 0, canvas.width, canvas.height);
            ctx.drawImage(img, 0, 0);

            // Convert the canvas content to a PNG data URL
            canvas.toBlob(async (blob) => {
                const item = new ClipboardItem({'image/png': blob});
                await navigator.clipboard.write([item]);
                //alert('PNG copied to clipboard!');
            });
        };
        img.src = url
    }

    // document.getElementById('convertButton').addEventListener('click', convertSvgToPngAndCopy);
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.0.0/d3.min.js"></script>
<script>
    // SPIRALE D3
    const spiralArc = (fromRadius, toRadius, width, fromAngle, toAngle) => {
        const x1 = fromRadius * Math.sin(fromAngle);
        const y1 = fromRadius * -Math.cos(fromAngle);
        const x2 = (fromRadius + width) * Math.sin(fromAngle);
        const y2 = (fromRadius + width) * -Math.cos(fromAngle);
        const x3 = toRadius * Math.sin(toAngle);
        const y3 = toRadius * -Math.cos(toAngle);
        const x4 = (toRadius + width) * Math.sin(toAngle);
        const y4 = (toRadius + width) * -Math.cos(toAngle);
        return `
    M ${x1},${y1}
    L ${x2},${y2}
    A ${fromRadius},${fromRadius} 1 0 1 ${x4},${y4}
    L ${x3},${y3}
    A ${fromRadius},${fromRadius} 0 0 0 ${x1},${y1}`;
    }

    const tick = (fromRadius, toRadius, width, fromAngle, toAngle) => {
        const x1 = fromRadius * Math.sin(fromAngle);
        const y1 = fromRadius * -Math.cos(fromAngle);
        const x2 = (fromRadius + width) * Math.sin(fromAngle);
        const y2 = (fromRadius + width) * -Math.cos(fromAngle);
        return `
    M ${x1},${y1}
    L ${x2},${y2}`
    }

    function g_appendText(g, x, y, textContent) {
        g.append('text')
            .attr('x', x)
            .attr('y', y)
            .attr('dy', '0.35em') // vertical alignment
            .attr('dx', '-0.4em') // vertical alignment
            .attr('font-size', '18px')
            .attr('font-family', 'sans-serif')
            .attr('text-anchor', 'middle')
            .attr('fill', 'black')
            .text(textContent);
    }

    function g_appendDateText(g, x, y, textContent) {
        g.append('text')
            .attr('x', x)
            .attr('y', y)
            .attr('dy', '0.35em') // vertical alignment
            .attr('dx', '-0.4em') // vertical alignment
            .attr('font-size', '32px')
            .attr('font-family', 'sans-serif')
            .attr('font-weight', 'bold')
            .attr('text-anchor', 'middle')
            .attr('fill', 'black')
            .text(textContent);
    }


    function drawSpirale(selector, data, number, isOptimistic, vueObject) {
        // https://stackoverflow.com/a/68149618
        let date = vueObject.date
        let scheduleName = vueObject.scheduleName
        // let total = vueObject.total
        let total = true
        const svg = d3.select(`#${selector}`);
        svg.html('');
        const g = svg.append('g')
            .attr('transform', 'translate(225,225)')

        const WIDTH = 45;
        const BASE_RADIUS = 35;
        const angle = Math.PI * 2 / 24;
        for (let index = 0; index < 48; index++) {
            const fromAngle = angle * index;
            const toAngle = angle * (index + 1);
            const fromRadius = BASE_RADIUS + index * 2 + WIDTH;
            const toRadius = BASE_RADIUS + (index + 1) * 2 + WIDTH;
            const path = spiralArc(fromRadius, toRadius, WIDTH, fromAngle, toAngle);
            // const color = data[index] === '1' ? 'rgb(0,255,0)' : 'rgb(255,0,0)'
            const color = {
                'G': '#92D050',
                'R': 'lightpink',
                'Y': '#ece665'
            }[data[index]]

            // const color = `rgb(0,${192 + Math.random() * 64},255)`
            g.append('path')
                .attr('d', path)
                .style('fill', color);

            if (index % 2 == 1) {
                g.append('path',)
                    .attr('d', tick(fromRadius, toRadius, ((index % 2 == 0) ? WIDTH : WIDTH / 5), fromAngle, toAngle))
                    .style('stroke', 'black') // Set the stroke color
                    .style('stroke-width', '1px'); // Set the stroke width
            }
            if (index % 2 == 0) {
                g.append('path',)
                    .attr('d', tick(fromRadius, toRadius, WIDTH / 3, fromAngle, toAngle))
                    .style('stroke', 'black') // Set the stroke color
                    .style('stroke-width', '2px'); // Set the stroke width
            }


            if (index % 2 == 0) {
                // Add text at the midpoint of the arc
                // const midRadius = (fromRadius + toRadius) / 2;
                const midRadius = fromRadius + WIDTH / 2 + WIDTH * 0.15;
                // const midAngle = (fromAngle + toAngle) / 2;
                const midAngle = fromAngle;
                const textX = midRadius * Math.sin(midAngle);
                const textY = midRadius * -Math.cos(midAngle);

                // g.append('circle')
                //     .attr('cx', textX)
                //     .attr('cy', textY)
                //     .attr('r', 20) // Adjust the radius to fit your text
                //     .attr('fill', 'yellow')
                //     .attr('opacity', 0.7); // Set the opacity to 0.5 for semi-transparency
                //
                // g.append('path')
                //     .attr('cx', textX)
                //     .attr('cy', textY)
                //     .attr('r', 20) // Adjust the radius to fit your text
                //     .attr('fill', 'yellow')
                //     .attr('opacity', 0.7); // Set the opacity to 0.5 for semi-transparency

                g.append('text')
                    .attr('x', textX)
                    .attr('y', textY)
                    .attr('dy', '0.35em') // vertical alignment
                    .attr('font-size', '28px')
                    .attr('font-family', 'sans-serif')
                    .attr('font-weight', 'bold')
                    .attr('text-anchor', 'middle')
                    .attr('fill', 'black')
                    // .attr('stroke', 'lightyellow') // stroke="deepPink" stroke-width="3px"
                    // .attr('stroke-width', '1px')
                    .text(parseInt(index / 2));
            }
        }
 
        g.append('text')
            .attr('x', 0)
            .attr('y', -50)
            .attr('dy', '0.35em') // vertical alignment
            .attr('dx', '-0.4em') // vertical alignment
            .attr('font-size', '48px')
            .attr('font-family', 'sans-serif')
            .attr('font-weight', 'bold')
            .attr('text-anchor', 'middle')
            .attr('fill', 'black')
            .text((vueObject.scheduleNames[number] || '').replace('черга', ''));

        let dateString
        if (date) {
            dateString = `${(new Date(date)).toLocaleDateString('uk', {weekday: 'short'})} ${(new Date(date)).toLocaleDateString('uk')}`
            dateString1 = `${(new Date(date)).toLocaleDateString('uk', {weekday: 'long'})}`.toUpperCase()
            dateString2 = `${(new Date(date)).toLocaleDateString('uk')}`
        }

        if (isOptimistic === true) {
            // g_appendText(g, 0, 0, 'при запланованому');
            // g_appendText(g, 0, 20, 'графіку відключень');
            dateString1 && g_appendDateText(g, 0, -5, dateString1);
            dateString2 && g_appendDateText(g, 0, 30, dateString2);
        } else if (isOptimistic === false) {
            g_appendText(g, 0, 0, 'при вимушеному');
            g_appendText(g, 0, 20, 'збільшенні тривалості');
            g_appendText(g, 0, 40, 'відключення');
            dateString && g_appendDateText(g, 0, 65, dateString);
        } else {
            dateString && g_appendDateText(g, 0, 25, dateString);
        }

        // g.append('text')
        //     .attr('x', 0)
        //     .attr('y', 85)
        //     .attr('dy', '0.35em') // vertical alignment
        //     .attr('dx', '0em') // vertical alignment
        //     .attr('font-size', '20px')
        //     .attr('font-family', 'sans-serif')
        //     .attr('font-weight', 'bold')
        //     .attr('text-anchor', 'middle')
        //     .attr('fill', 'black')
        //     .text(scheduleName);

        if (total) {
            g.append('text')
                .attr('x', -7)
                .attr('y', 65)
                .attr('dy', '0.35em') // vertical alignment
                .attr('dx', '0em') // vertical alignment
                .attr('font-size', '25px')
                .attr('font-family', 'sans-serif')
                .attr('font-weight', 'bold')
                .attr('text-anchor', 'middle')
                .append('tspan').attr('fill', '#DB9DA8').text('-' + ((data.match(/[R]/g) || []).length / 2).toString())
                .append('tspan').attr('fill', 'black').text(`  `)
                .append('tspan')
                    .attr('fill', 'black')
                    .attr('stroke', '#ece665')
                    .attr('stroke-width', '10px')
                    .attr('paint-order', 'stroke')
                    .text(((data.match(/[Y]/g) || []).length / 2).toString())
                .append('tspan').attr('fill', 'black').text(`  `)
                // .append('tspan').attr('fill', 'black').text(` ${scheduleName.slice(0, 1)} `)
                .append('tspan').attr('fill', '#83BA48').attr('stroke', 'white').text(  '+' + ((data.match(/G/g) || []).length  /2).toString())


                // .attr('fill', 'black')
                // .text(scheduleName);
        }

    }
</script>
<script>
    function parseSchedule(htmlString) {
      // Create a DOM parser
      const parser = new DOMParser();
      const doc = parser.parseFromString(htmlString, 'text/html');

      // Get all rows from the tbody
      const rows = doc.querySelectorAll('tbody tr');

      // Array to store the results
      const schedules = [];

      // Process each row
      rows.forEach(row => {
        let schedule = '';
        const cells = row.querySelectorAll('td:not(.turnoff-scheduleui-table-queue)');

        cells.forEach(cell => {
          if (cell.classList.contains('light_on')) {
            schedule += '1';
          } else if (cell.classList.contains('light_off')) {
            schedule += '0';
          } else if (cell.classList.contains('light_1')) {
            schedule += 'G';
          } else if (cell.classList.contains('light_2')) {
            schedule += 'R';
          } else if (cell.classList.contains('light_3')) {
            schedule += 'Y';
          }
        });

        // Add the schedule string to the results array\
        schedules.push(schedule);
      });

      console.log(schedules)
      return schedules.slice(0, 12);
    }
    function parseScheduleNames(htmlString) {
      // Create a DOM parser
      const parser = new DOMParser();
      const doc = parser.parseFromString(htmlString, 'text/html');

      // Get all rows from the tbody
      const rows = doc.querySelectorAll('tbody tr td.turnoff-scheduleui-table-queue');
      const strippedTexts = Array.from(rows).map(row => row.textContent.trim());
      console.log(strippedTexts)
      return strippedTexts;
    }
    function mapReplace(str, map) {
        return str.replace(/./g, m => map[m])
    }

    function parseSpiraleData(intervalString, isOptimistic) {
        if (intervalString.length !== 48) {
            throw new Error("Input string must be exactly 48 characters long");
        }
        let input;

        if (isOptimistic) {
            // input = intervalString.match(/.{2}/g).map(pair => pair === '01' ? '11' : pair).join('');
            input = intervalString.replaceAll('Y', 'R')
        } else {
            input = intervalString; //intervalString.replaceAll('Y', 'R')
        }
        const result = mapReplace(input, {'0': 'R', '1': 'G','G': 'G','R': 'R','Y': 'Y',})
        console.log(result)
        return result
    }

</script>
<script type="module">
    import { createApp } from 'vue'
    import { snapdom } from 'https://cdn.jsdelivr.net/npm/@zumer/snapdom/dist/snapdom.mjs';

    createApp({
        methods: {
            padZero(value) {
                if (!value) {
                    value = 0;
                }
                return value.toString().padStart(2, '0');
            },
            async fetchHTML() {
                    const url = 'https://www.poe.pl.ua/customs/newgpv-info.php'

                // 2024-07-19 -> 19-07-2024

                const newDate = `${this.date.slice(8,10)}-${this.date.slice(5, 7)}-${this.date.slice(0, 4)}`
                const formData = new FormData()
                formData.append('seldate', JSON.stringify({"date_in":newDate}));

                try {
                    let response = await fetch(url, {
                        method: 'POST',
                        // mode: 'no-cors',
                        // headers: {
                        //   'accept': 'application/json, text/javascript, */*; q=0.01',
                        // },
                        body: formData
                    })
                    return  await response.text()

                } catch (e) {
                    console.error('Error:', e);
                }
            },
            async makeSchedule() {
                const newDate = `${this.date.slice(8,10)}-${this.date.slice(5, 7)}-${this.date.slice(0, 4)}`

                let data = await this.fetchHTML()
                this.schedule = parseSchedule(data)

                if (this.schedule.length === 0) {
                    this.schedule = [
                        'GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG',
                        'GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG',
                        'GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG',
                        'GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG',
                        'GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG',
                        'GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG',
                        'GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG',
                        'GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG',
                        'GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG',
                        'GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG',
                        'GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG',
                        'GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG',
                    ]
                }

                this.scheduleNames = [
                    '1.1 черга',
                    '1.2 черга',
                    '2.1 черга',
                    '2.2 черга',
                    '3.1 черга',
                    '3.2 черга',
                    '4.1 черга',
                    '4.2 черга',
                    '5.1 черга',
                    '5.2 черга',
                    '6.1 черга',
                    '6.2 черга',
                ]

                return
                let schedule;
                if (this.rule) {
                    let rule = this.rule.toUpperCase().replaceAll('А', 'A').replaceAll('В', 'B').replaceAll('С', 'C');
                    let parsedSchedule = parseSchedule(rule)
                    schedule = SCHEDULES.A1.map((_, idx) => parsedSchedule.map((e, index) => (e === 'NA' ? 'G' : SCHEDULES[e][idx][index])).join(''))
                } else {
                    schedule = SCHEDULES[this.scheduleName]
                    if (schedule) {
                        let availabilityMask = parseAvailabilityString(this.availability);
                        schedule = SCHEDULES[this.scheduleName].map(value => applyMask(availabilityMask, value));
                    }
                }

                if (schedule) {
                    this.schedule = schedule;
                    this.availabilityTexts = this.schedule.map(value => ({
                        optimistic: parseIntervals(value, true),
                        pessimistic: parseIntervals(value, false)
                    }))
                    // console.log(this.schedule, this.availabilityTexts)
                    this.availabilityTextsDetailed = this.schedule.map(value => ({
                        optimistic: parseAvailability(value, true),
                        pessimistic: parseAvailability(value, false)
                    }))
                    // console.log(this.availabilityTextsDetailed)
                } else {
                    this.schedule = null
                    this.availabilityTexts = null
                    this.availabilityTextsDetailed = null
                }
            },
            async copySpirale(element) {
                await convertSvgToPngAndCopy(element.currentTarget.childNodes[0])
            },

            async myCopy(selector, event, isSvg = false) {
                event.target.innerText = 'Зачекайте'
                setTimeout(async () => {
                    try {
                        const element = isSvg ? event.currentTarget.querySelector('svg') : document.querySelector(selector);
                        const blob = await snapdom.toBlob(element, { type: 'png' });
    
                        const item = new ClipboardItem({ 'image/png': blob });
                        await navigator.clipboard.write([item]);
                        event.target.innerText = 'Скопійовано'
                    } catch (error) {
                        console.error('Помилка копіювання:', error);
                        event.target.innerText = 'Помилка'
                    } finally {
                        setTimeout(() => { event.target.innerText = 'Копіювати' }, 2000);
                    }
                }, 10);
            },
            generateTextReport() {
                if (!this.schedule) {
                    return '';
                }

                const date = new Date(this.date);
                const day = date.toLocaleDateString('uk-UA', { day: 'numeric', month: 'long', year: 'numeric' });
                const weekday = date.toLocaleDateString('uk-UA', { weekday: 'long' });
                const dateString = `${weekday}, ${day}`;

                const header = `Години відсутності електропостачання з урахуванням часу на перемикання:\n${dateString}`;

                const minutesToHHMM = (minutes) => {
                    const hours = Math.floor(minutes / 60);
                    const mins = minutes % 60;
                    return `${hours.toString().padStart(2, '0')}:${mins.toString().padStart(2, '0')}`;
                };

                const lines = this.schedule.map((scheduleString, index) => {
                    const scheduleName = this.scheduleNames[index] || `Черга ${index + 1}`;
                    const ranges = [];
                    let inOutage = false;
                    let startIdx = -1;

                    for (let i = 0; i < scheduleString.length; i++) {
                        const isOutage = scheduleString[i] === 'R' || scheduleString[i] === 'Y';
                        if (isOutage && !inOutage) {
                            inOutage = true;
                            startIdx = i;
                        } else if (!isOutage && inOutage) {
                            inOutage = false;
                            const startTime = minutesToHHMM(startIdx * 30);
                            const endTime = minutesToHHMM(i * 30);
                            ranges.push(`${startTime}-${endTime}`);
                        }
                    }

                    if (inOutage) {
                        const startTime = minutesToHHMM(startIdx * 30);
                        const endTime = '24:00';
                        ranges.push(`${startTime}-${endTime}`);
                    }

                    if (ranges.length === 0) {
                        return `${scheduleName} без відключень`;
                    }

                    return `${scheduleName} ${ranges.join('; ')}`;
                });

                const reportLinesWithSpacing = [];
                for (let i = 0; i < lines.length; i++) {
                    reportLinesWithSpacing.push(lines[i]);
                    if ((i + 1) % 4 === 0 && i < lines.length - 1) {
                        reportLinesWithSpacing.push('');
                    }
                }

                return header + '\n\n' + reportLinesWithSpacing.join('\n');
            },
            async copyTextReport(event) {
                const textToCopy = this.textReport;
                await navigator.clipboard.writeText(textToCopy);
                event.target.innerText = 'Скопійовано';
                setTimeout(() => { event.target.innerText = 'Копіювати' }, 2000);
            }
        },

        data() {
            return {
                // scheduleName: '',
                date: '2000-12-31',
                // dateString: (new Date()).toISOString(),
                // availability: '',
                schedule: null,
                scheduleNames: null,
                // availabilityTexts: null,
                // availabilityTextsDetailed: null,
                // spirals: null,
                // SCHEDULES: SCHEDULES,
                // historyData: null,
                // historyDataValue: '',
                // rule: '',
                // showAll: true,
                total: false,
                tomorrow: false,
                pathname: ''
            }
        },

        async created() {
            const urlParams = new URLSearchParams(window.location.search);

            let date = new Date()
            date = new Date(date - date.getTimezoneOffset() * 60000)

            if (urlParams.has('tomorrow')) {
                date.setDate(date.getDate() + 1);
                this.tomorrow = true
            }
            this.date = date.toISOString().substring(0, 10)
            this.pathname = window.location.pathname

            await this.makeSchedule()
        },
        computed: {
            textReport() {
                return this.generateTextReport();
            }
        },
        watch: {
           schedule(newSchedule, oldSchedule) {
                // console.log('watchschedule', newSchedule)

                if (newSchedule) {
                    this.$nextTick(() => {
                        newSchedule.forEach((value, index, array) => {
                            const optimistic = parseSpiraleData(value, true);
                            // const optimistic = value;
                            // drawSpirale(`spirale-optimistic-${index}`, parseSpiraleData(value, true), index + 1, true, this)
                            drawSpirale(`spirale-optimistic-2-${index}`, parseSpiraleData(value, true), index, true, this)
                            drawSpirale(`spirale-3-${index}`, parseSpiraleData(value, false), index, true, this)
                            // drawSpirale(`spirale-${index}`, value, index + 1, undefined, this)
                            // drawSpirale(`spirale-pessimistic-${index}`, parseSpiraleData(value, false), index + 1, false, this)
                        })
                    });

                }
            },
        }
    }).mount('#app')
</script>
</body>
</html>
