<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.min.js"></script>
</head>
<body>
<div id="app">
    <textarea v-model="snippet" cols="60" rows="7" v-on:input="updateVariables"></textarea><br>
    <div v-for="(value, key) in variables">
        <label :for="key">{{ key }}</label>
        <input class="input" type="text" :placeholder="value || key" :id="key" v-model="variablesResult[key]"
               v-on:input="updateResult"><br>
    </div>
    <label for="result">Result</label>
    <button @click="copyResult">Copy</button>
    <br>
    <textarea name="" id="result" cols="60" rows="7" v-model="result"></textarea>
</div>
<script type="text/javascript">
    function getVariables(value) {
        return Object.assign(...( value.match(/{{.+?}}/g) || [])
            .map(e => e.slice(2, -2).split('|').map(e => (e || '').trim()))
            .map(d => ({[d[0]]: d[1]}))
        )
    }

    new Vue({
        el: '#app',
        created () {
            this.load()
            this.updateVariables()
        },
        data: {
            snippet: 'ssh {{ ssh path|root@mydomain.com }} "sudo -u postgres  pg_dump {{ remote db name}} > /tmp/{{ dump file name }}.sql" && scp {{ ssh path|root@mydomain.com }}:/tmp/{{ dump file name }}.sql /tmp/{{ dump file name }}.sql && sudo -u postgres dropdb {{ local db name }} && sudo -u postgres createdb -O {{ local db user name|owner }} {{ local db name }} && sudo -u postgres psql {{ local db name }} < /tmp/{{ dump file name }}.sql',
            result: '',
            variables: {},
            variablesResult: {}
        },
        methods: {
            updateVariables () {
                this.variables = getVariables(this.snippet)
                this.updateResult()
            },
            copyResult () {
                document.querySelector('#result').select()
                document.execCommand('copy');
            },
            updateResult () {
                this.save()
                let v = this.variablesResult
                this.result = this.snippet.replace(/{{.+?}}/g, function (str, offset, s) {
                    return v[str.slice(2, -2).split('|')[0].trim()] || str
                })
            },
            load () {
                let self = this;
                (window.location.href.split('#')[1] || '').split('&')
                    .map(e => (e.includes('=')) ? e.split('=').map(e => decodeURIComponent(e)) : '')
                    .filter(e => e)
                    .forEach(e => (e[0] == '$snippet') ? self.snippet = e[1] : self.variablesResult[e[0]] = e[1])
            },
            save () {
                let hash = [['$snippet', this.snippet]];
                let o = this.variablesResult
                Object.keys(o).forEach(k => hash.push([k, o[k]]))
                location.hash = hash.map(e => e.map(e => encodeURIComponent(e)).join('=')).join('&')
            }
        }
    });

</script>
</body>
</html>