<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css"
          integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
</head>
<body>
<div id="app">
    <form class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <textarea v-model="snippet" cols="60" rows="7" v-on:input="updateVariables"></textarea>
            </div>
            <div v-for="(value, key) in variables" class="pure-control-group">
                <label :for="key">{{ key }}</label>
                <textarea v-if="key.includes('description')" class="input" :placeholder="value || key" :id="key"
                          v-model.trim="variablesResult[key]"
                          v-on:input="updateResult" cols="60" rows="7"></textarea>
                <input v-else class="input" type="text" :placeholder="value || key" :id="key"
                       v-model.trim="variablesResult[key]"
                       v-on:input="updateResult">
            </div>
            <div class="pure-control-group">
                <label for="result">Result</label>
                <button @click="copyResult" class="pure-button pure-button-primary">Copy</button>
            </div>
            <div class="pure-control-group">
                <textarea name="" id="result" cols="60" rows="7" v-model="result"></textarea>
            </div>
        </fieldset>
    </form>
</div>
<script type="text/javascript">
    function getVariables(value) {
        return Object.assign({}, ...(value.match(/{{.+?}}/g) || [])
            .map(e => e.slice(2, -2).split('|').map(e => (e || '').trim()))
            .map(d => ({[d[0]]: d[1]}))
        )
    }

    new Vue({
        el: '#app',
        created () {
            this.load()
            this.updateVariables()
        },
        data: {
            snippet: 'ssh {{ ssh path|root@mydomain.com }} "sudo -u postgres  pg_dump {{ remote db name}} > /tmp/{{ dump file name }}.sql" && scp {{ ssh path|root@mydomain.com }}:/tmp/{{ dump file name }}.sql /tmp/{{ dump file name }}.sql && sudo -u postgres dropdb {{ local db name }} && sudo -u postgres createdb -O {{ local db user name|owner }} {{ local db name }} && sudo -u postgres psql {{ local db name }} < /tmp/{{ dump file name }}.sql',
            result: '',
            variables: {},
            variablesResult: {},
            timer: null,
        },
        methods: {
            updateVariables () {
                this.variables = getVariables(this.snippet)
                this.updateResult()
            },
            copyResult () {
                document.querySelector('#result').select()
                document.execCommand('copy');
            },
            updateResult () {
                this.save()
                let v = this.variablesResult
                this.result = this.snippet.replace(/{{.+?}}/g, function (str, offset, s) {
                    return v[str.slice(2, -2).split('|')[0].trim()] || str
                })
            },
            load () {
                (window.location.href.split('#')[1] || '').split('&')
                    .map(e => (e.includes('=')) ? e.split('=').map(e => decodeURIComponent(e)) : '')
                    .filter(e => e)
                    .forEach(e => (e[0] == '$snippet') ? this.snippet = e[1] : this.variablesResult[e[0]] = e[1])
            },
            save () {
                let hash = [['$snippet', this.snippet]];
                let o = this.variablesResult
                Object.keys(o).forEach(k => hash.push([k, o[k]]))
                hash = hash.map(e => e.map(e => encodeURIComponent(e)).join('=')).join('&')
                clearTimeout(this.timer);  // chrome is slow on location hash update
                this.timer = setTimeout(function() {location.hash = hash}, 100)
            }
        }
    });

</script>
</body>
</html>